
.top {
    text-align: center;
    border-color: transparent;
}

h1 {
    border: 50px solid;
    border-top-width: 25px;
    border-color: transparent;
    text-align: center;
}

.p2 {
    border: 50px solid;
    border-top-width: 25px;
    border-color: transparent;
    text-align: center;
}


.bottom {
    text-align: center;
    border-color: transparent;
}