<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <h1>Gyümölcsök Listája</h1>
        <ul>
            <li v-for="(item, index) in items" :key="index">
                {{ index + 1}}. {{ item }}

            </li>
        </ul>
        <input type="text" v-model="newItem" palceholder="Új lista elem">
        <button @click="addItem">Mező +</button> 
    </div>

    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    items: ["Alma", "Banán", "Narancs", "Szőlő"],
                    newItem: ""
                };
            }, methods: {
            addItem() {
                if (this.newItem) {
                    this.item.push(this.newItem);
                    this.newItem = "";
                }
            }
        }
        })

    </script>
    
</body>
</html>